In [3]:
import pandas as pd
df=pd.read_csv("suraj.csv")
df

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Unnamed: 9
0,1,E84A904909dF528,not available,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980.0,Online Publishing,6852,NaN
1,2,NaN,not available,https://www.chapman.net/,Algeria,NaN,1970.0,Import / Export,7994,NaN
2,3,NaN,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005.0,Apparel / Fashion,5105,NaN
3,4,D76BB12E5eE165B,Bauer-Weiss,no values,United States of America,NaN,NaN,Dairy,9069,NaN
4,5,2F31EddF2Db9aAE,Love-Palmer,NaN,Denmark,NaN,2010.0,Management Consulting,6991,NaN
5,6,6774DC1dB00BD11,"Farmer, Edwards and Andrade",NaN,Norfolk Island,NaN,NaN,Mental Health Care,3503,NaN
6,7,116B5cD4eE1fAAc,"Bass, Hester and Mcclain",https://meza-smith.com/,Uzbekistan,NaN,1994.0,Computer Hardware,2762,NaN
7,8,AB2eA15d98b6BD4,"Strickland, Gray and Jensen",http://kerr.info/,Israel,NaN,1987.0,Performing Arts,7020,NaN
8,9,NaN,"Sparks, Decker and Powell",NaN,Israel,NaN,1977.0,Marketing / Advertising / Sales,2709,NaN
9,10,NaN,"Osborn, Ford and Macdonald",NaN,Syrian Arab Republic,Optional coherent focus group,1990.0,Investment Banking / Venture,5731,NaN
10,11,C494aBe0CDB9c70,not available,NaN,Angola,NaN,2019.0,Capital Markets / Hedge Fund / Private Equity,2252,NaN
11,12,9FBF69aa2D9AAF1,not available,http://berger-chen.info/,Iran,NaN,2019.0,Logistics / Procurement,6165,NaN
12,13,4EB9d3E5cF79b91,"Bernard, Payne and Spencer",http://williamson.net/,Afghanistan,NaN,1990.0,Transportation,730,NaN
13,14,e5CA6529DCD4030,Mcpherson-Blanchard,http://www.ward.com/,Bulgaria,Integrated didactic product,1972.0,Law Enforcement,9890,NaN
14,15,b0BBeBB36bAbb35,"Koch, Gomez and Hays",http://ewing-rosario.biz/,French Southern Territories,Operative national superstructure,1997.0,Financial Services,8497,NaN
15,16,CDa7Ec784D5A8Bd,"Meza, Ramirez and Braun",https://hardy.biz/,Timor-Leste,Customer-focused multi-tasking ability,2012.0,Public Relations / PR,5205,NaN
16,17,b7cBE6A9E79A56F,"Morales, Hinton and Gibbs",https://hudson.com/,Serbia,Seamless global utilization,2014.0,Museums / Institutions,6706,NaN
17,18,e5cab57FFF6f4bd,Abbott-Arroyo,http://delgado.net/,Hungary,Visionary holistic firmware,1994.0,Architecture / Planning,117,NaN
18,19,3851f381Ea54d70,Trevino-Foley,https://baxter.com/,Canada,Enterprise-wide 6thgeneration parallelism,1973.0,Wine / Spirits,6765,NaN
19,20,2FaDD3Ac0fB4052,"Bowman, Walters and Sawyer",https://www.drake-calhoun.com/,Yemen,Exclusive client-server collaboration,1988.0,Think Tanks,5926,NaN

In [4]:
df.head(5)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Unnamed: 9
0,1,E84A904909dF528,not available,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980.0,Online Publishing,6852,NaN
1,2,NaN,not available,https://www.chapman.net/,Algeria,NaN,1970.0,Import / Export,7994,NaN
2,3,NaN,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005.0,Apparel / Fashion,5105,NaN
3,4,D76BB12E5eE165B,Bauer-Weiss,no values,United States of America,NaN,NaN,Dairy,9069,NaN
4,5,2F31EddF2Db9aAE,Love-Palmer,NaN,Denmark,NaN,2010.0,Management Consulting,6991,NaN

In [ ]:
df.shape  #total row and column

(20, 10)

In [ ]:
df.isnull().sum()  #sum of total null value in column

Index                   0
Organization Id         4
Name                    0
Website                 5
Country                 0
Description            10
Founded                 2
Industry                0
Number of employees     0
Unnamed: 9             20
dtype: int64

In [ ]:
df.isnull().sum().sum() #total missing value in dataset

np.int64(41)

In [ ]:
(df.isnull().sum().sum()/(df.shape[0]*df.shape[1]))*100  #overall dataset missing values percentage

np.float64(20.5)

In [ ]:
(df.isnull().sum()/df.shape[0])*100  #percentage of each column's missing value

Index                    0.0
Organization Id         20.0
Name                     0.0
Website                 25.0
Country                  0.0
Description             50.0
Founded                 10.0
Industry                 0.0
Number of employees      0.0
Unnamed: 9             100.0
dtype: float64

In [ ]:
df.notnull().sum() #not null value in perticular colums

Index                  20
Organization Id        16
Name                   20
Website                15
Country                20
Description            10
Founded                18
Industry               20
Number of employees    20
Unnamed: 9              0
dtype: int64

In [ ]:
df.notnull().sum().sum() #overall total not null values

np.int64(159)